<%= link_to 'â† Back To Home', root_path %>
<h3><%= @book.title %></h3>

<%= link_to 'Remove', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, style: 'margin-top: 1%;' %>
<%= link_to 'Edit', edit_book_path(@book), style: 'margin-top: 1%;' %>
